{% extends 'form_div_layout.html.twig' %}

{% block form_label %}
    {% spaceless %}
        <label for="{{ id }}" class="control-label">{{ id|replace({'_':'.'})|trans }}</label>
    {% endspaceless %}
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
    <div class="errors">
        {{ parent() }}
    </div>
    {% endif %}
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <div class="control-group">
            {{ form_errors(form) }}
            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            {{ block('choice_widget_expanded') }}
        {% else %}
            {{ block('choice_widget_collapsed') }}
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            <ul class="choice_expanded">
            {% for child in form %}
                <li>
                {{ form_widget(child) }}
                {{ form_label(child) }}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}